  <ff-img-overlay
    [imgUrl]="'https://c.wallhere.com/photos/51/43/abstract_black_green_white-795561.jpg!d'"
    [text]="'some text'"
  ></ff-img-overlay>
<ff-img-overlay
  [mainTmp]="mainTmp"
  [overlayTmp]="overlay"
  cssClassEnter="zoomIn"
  cssClassLeave="zoomOut"
  cssClassAnimated="animated"
  (mouseLeave)="leaveHandler($event)"
  (mouseEnter)="enterHandler($event)"
  ></ff-img-overlay>


<ng-template #mainTmp>
  <img src="https://www.w3schools.com/w3css/img_lights.jpg" alt="" style="width:100%;height: auto; display: block">
</ng-template>
<ng-template #overlay>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi eum facilis odio reiciendis rem sed?
    Doloribus omnis quaerat voluptate.</p>
</ng-template>
